logs
output
__pycache__

pickles

*.pdf
*.jpeg
*.vice
*.gif
*.json

*.swp
*.fits
*.fits.1
.ipynb*

final_figures

archive
old_output

PythonBootcamp
VICE

figures


*.gz
*.out

nucleosynthesis_yields
ReadMe

*.bst

karakas16_yields

subgiants.csv
