logs
out
__pycache__
build

pickles
results

*.jpeg
*.vice
*.gif
model.json
*.mp4
stars.csv
subgiants.csv
apogee_*.csv
galah_dwarfs.csv
gso_dwarfs.csv
lamost_dwarfs.csv

*.lof
*.lot
*.toc

*.swp
*.fits
*.fits.1
.ipynb*

final_figures

archive
old_output

PythonBootcamp
VICE

figures


*.gz

yield_models.c
*.so
nucleosynthesis_yields
ReadMe

*.bst

karakas16_yields

subgiants.csv
R_subgiants_cdf.csv
apogee_cartography.csv


*.pyc
# latex
*.out
*.dvi
*.fdb_latexmk
*.fls
*.log
*.blg
*.bbl


*.out
*.dvi
*.fdb_latexmk
*.fls
*.log
*.blg
*.bbl
*.aux
*.acn
*.acr
*.alg
*.glg
*.glo
*.ist
*.models-glg
*.models-glo
*.models-gls
*.slg
*.slo
*.sls
*.gls

*.tar
*.pdf
temp

.coverage
model.json
stars.csv

*walks.dat
star_migration.dat
migration_initial_final.dat
