logs
output
__pycache__

pickles

*.pdf
*.jpeg
*.vice
*.gif
*.json
*.mp4

*.swp
*.fits
*.fits.1
.ipynb*

final_figures

archive
old_output

PythonBootcamp
VICE

figures


*.gz
*.out

nucleosynthesis_yields
ReadMe

*.bst

karakas16_yields

subgiants.csv

*.out
*.dvi
*.fdb_latexmk
*.fls
*.log
*.blg
*.bbl


*.out
*.dvi
*.fdb_latexmk
*.fls
*.log
*.blg
*.bbl
ux
